body { background: #eecc73; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-email-0 { color: #26fcd7; font-size: 12px; margin-bottom: 5px; }
.block-email-1 { color: #cda3e3; font-size: 19px; margin-bottom: 5px; }
.block-validator-2 { color: #403fbe; font-size: 13px; margin-bottom: 5px; }
.block-email-3 { color: #7cf9ce; font-size: 19px; margin-bottom: 5px; }
.block-validator-4 { color: #aadf1c; font-size: 17px; margin-bottom: 5px; }
.block-helper-5 { color: #5d212e; font-size: 13px; margin-bottom: 5px; }